.card {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px white;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .cardimage{
  max-width: 60%;
  height: auto;
  border-radius: 20%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);

}
.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(0, 0%, 30%);
}
.button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}